./venv
venv
./.env
*.pyc
db.sqlite3
./gitignore

# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# EMAIL_HOST = 'smtp.gmail.com'
# EMAIL_PORT = 587
# EMAIL_USE_TLS = True
# EMAIL_HOST_USER = 'ecclesiafarmz@gmail.com'
# EMAIL_HOST_PASSWORD = 'snfu jygi cnhr klvv'
# account_sid = 'ACf70ef8fd878f32665058f3b67e6b67c6'
# auth_token = '428ffa7700978be12c3bb9e70d8b45d7'